{% extends "goods/basetwo.html" %}

{ %block title%}
天天生鲜-列表页
{ %endblock%}


{%block javascripttwo%}

{%endblock%}

{%block basetwo%}
	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                {%for good1 in list1%}                        
                    <li>
                        <a href="/goods/detail/{{good1.id}}/"><img src="/static/{{good1.gpic}}"></a>
                        <h4><a href="/goods/detail/{{good1.id}}">{{good1.gname}}</a></h4>
                        <div class="prize">￥{{good1.gprice}}</div>
                    </li>
                {%endfor%}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="#" class="active">默认</a>
				<a href="#">价格</a>
				<a href="#">人气</a>
			</div>

			<ul class="goods_type_list clearfix">
				{%for good in list2%}
				<li>
					<a href="/goods/detail/{{good.id}}/"><img src="/static/{{good.gpic}}"></a>
					<h4><a href="/goods/detail/{{good.id}}/">{{good.gname}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{good.gprice}}</span>
						<span class="unit">{{good.gprice}}/{{good.gunit}}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
				{%endfor%}
			</ul>

			<div class="pagenation">
				{% ifnotequal pIndex 1 %}
                	<a href='/goods/goodslist/{{type}}_{{pIndex|add:"-1"}}/'>上一页></a>
              	{% endifnotequal %}
				

				{%for pindex in pagelist%}
				{%if pIndex == pindex%}				
				<a href="/goods/goodslist/{{type}}_{{pindex}}/" class="active">{{pindex}}</a>
				{%else%}
				<a href="/goods/goodslist/{{type}}_{{pindex}}">{{pindex}}</a>
				{%endif%}
				{%endfor%}
				
				{%ifnotequal pagelist|length pIndex%}
				<a href='/goods/goodslist/{{type}}_{{pIndex|add:"1"}}/'>下一页></a>
				{%endifnotequal%}
				
				
			</div>
		</div>
	</div>

{%endblock%}



